@import url('https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&display=swap');

/* Accordion collapsible courtesy of W3 Schools */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --textcolor: black;
    --pagebg: white;
    --sectionbg: white;
    --links: #666666;
    --mono: #2F2F2F;
    --monobg: #eeeeee;
}

/* Specify palette for darkmode */
@media (prefers-color-scheme: dark) {
    * {
        --textcolor: white;
        --pagebg: #24242C;
        --sectionbg: #34343C;
        --links: #B2B2B2;
        --mono: #ccc;
        --monobg: #3f3f3f;
    }
    p {
        letter-spacing: .025em;
        font-weight: 350;
    }
}

html {
    background-color: var(--pagebg);
    scrollbar-gutter: stable;
}

body {
    font-size: 18px;
    font-family: "Geomini", "Public Sans", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    
    line-height: 1.4;
    color: var(--textcolor);
    position: relative;
    width: 43em;
    /* moving padding here because this is stylelight */
    padding: 2.5em 2em 1em 2em;
}

header {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

h1 {
    font-size: 1em;
    font-weight: 600;
    flex: 1;
    white-space: nowrap;
}

nav a:not(:last-of-type) {
    margin-right: .5em;
}

a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.2s;
    color: var(--links);
}

.accordion {
    background-color: var(--sectionbg);
    color: var(--textcolor);
    cursor: pointer;
    padding: 1em;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
  background-color: var(--sectionbg);
}

.panel {
    padding: 0 1em;
    background-color: var(--sectionbg);
    display: none;
    overflow: hidden;
}

/* Uncomment to add anchors or nav

nav a:hover {
    text-decoration-color: var(--links);
    transition: 0.2s;
}

a.inert:hover{
    text-decoration-color: transparent;
}

section {
    background: var(--sectionbg);
    padding: 5em 2em 6em;
    display: none;
    top: 0;
    width: 100%;
}

section:target {
    display: block;
}

body:not(body:has(section:target)) section#home{
    display: block;
}
*/

footer {
    color: var(--links);
    font-size: 85%;
    padding: .25em 0;
    border-top: 1px solid var(--links);
    margin: 5em 2.25em 2em;
    width: 75%;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: .5em;
    letter-spacing: -0.03em;
}

h3 {
    font-size: 1.75em;
    margin-top: 0.75em;
    margin-bottom: .5em;
    letter-spacing: -0.03em;
}

p {
    font-size: 1em;
    letter-spacing: 0.02em;
    width: min(60ch, 90vw);
    /* 60ch is evidently a good standard for legibility */
    margin-bottom: 1em;
}

p a{
    text-decoration-color: var(--links);
}

span.mono {
    font-family: monospace;
    font-size: 0.9em;
    color: var(--mono);
    white-space: nowrap;
    background-color: var(--monobg);
    padding: 1px;
    border-radius: 4px;
}

div.inline {
    width: 36em;
    max-width: 90vw;
    margin-bottom: 2em;
    margin-top: 2em;
}

.inline p{
    font-size: 0.8em;
    color: var(--links);
    font-style: italic;
}

img {
    width: 100%;
    height: auto;
}

/* For the phone users in the crowd */
@media only screen and (max-width: 680px) {
    html{
        width: 100vw;
        overflow-x: hidden;
    }
    body {
        font-size: 16px;
        line-height: 1.6;
        width: 100vw;
    }
    header {
        padding: 1em;
        position: fixed;
        background: var(--sectionbg);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    }
    header h1{
        display: none;
    }
    section{
        padding: 6em 1em 5em 1em;
    }
    nav{
        white-space: nowrap;
        font-size: 0.8;
    }
    nav a:not(:last-of-type) {
        margin-right: 0em;
    }
    footer{
        margin: -4.5em 1em 2em;
        width: 90vw;
    }
}
